*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(54,77,204);
    background: linear-gradient(175deg, rgba(54,77,204,1) 0%, rgba(66,76,129,1) 35%);
}

.avatar{
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
}

.profile{
    text-align: center;
    margin-top: 20px;
}

.social{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 20px 0
}
.social img{
    width: 33px;

}

.Links-list{
 list-style: none;

}
.Links-list li{
    margin:20px 10px
}

.Links-list li a{
    background-color: white;
    padding: 15px 20px;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.Links-list li a span{
    color: gray;
    display: block;
    margin-top: 10px;

}